body{
  font-family: 'Roboto', sans-serif;
  line-height: 150%; 
}
h1{
  font-size: 45px;
}

h2{
  margin-left: 10px;
}

.name-highlight{
  color: tomato;
}

.top-banner{
  margin-top: 10px;
}

.half-width{
  width: 40%;
  float: left;
  margin-left:5%;
  padding-left:2%;
}

.half-width img{
  width: 85%;
}
section{
  height: 500px;
  padding-bottom:150px;
}
.button{
  text-decoration: none;
  background-image:linear-gradient(50deg,lightSalmon,tomato);
  padding: 15px 45px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  display:inline-block;
  margin-top: 20px;
    
}
p{
  color: dimgray;
}

.experience-area{
  background-color: rgb(238, 244, 247);
  
}

.experience-inner-div{
  padding:25px;
}

.single-experience{
  margin-top: 40px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 70%;
  background-color: white;
  width: 25%; 
}

.skills{
  background: rgb(68, 62, 62);
  color: white;
  margin: 90px;
  height: 250px;
 }

 .text-align{
  text-align: center;
}
 
 .container {
   width: 70%; 
 }
 
 .html{
   width: 90%;
   background-color:green;
   text-align: center;
 } 
 .css {
   width: 80%;
   background-color:blue;
   text-align: center;
 }
 .python {
   width: 65%;
   background-color:red;
   text-align: center;
 } 

.background-area{
  background-image: url("images/Group_33094_1.png");
  background-repeat: no-repeat; 
  background-position:center;
  border-radius: 20px;
  padding: 100px;
  margin: 100px;
  height:70px;
 
  
}
#plagin{
  float: right; 
  
}
#name-color{
  color: white;
 
}

footer p{
  font-size: 20px;
}
.icon-img{
  height: 45px;
  width: 40px;
}






